body{
    margin:0;
    box-sizing: border-box;
}

.header-flex-container{
    color: white;
    display: flex;
    margin: 0;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color:cornflowerblue;
}

ul{
    margin: 0;
}

.header-info{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.header-info .header-profile-pic{
    height: 50px;
    width: 50px;
    border: 1.5px solid white;
    border-radius: 50%;
}

.header-info .header-name{
    color: inherit;
    margin-left: .5rem;
}

.link-list{
    justify-self: flex-end;
    list-style:none;
    display: flex;
}

.link-list a{
    color: inherit;
    text-decoration: none;
    margin: .5rem;
}